.todo-item {
    display: flex;
    height: 2rem;
    width: 94%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 3px 6px rgba(200,200,200, 0.5);
}

.todo-text {
    display: flex;
    align-items: center;
    padding-left :8px;
    width: 95%;
    cursor: pointer;
}

.todo-remove {
    display: flex;
    border: none;
    color: red;
    width: 5%;
    font-weight: bold;
    cursor: pointer;
    background: none;
}

.done {
    background-color: rgba(200,200,200, 0.5)
}

.done .todo-text {
    text-decoration-line: line-through
}